
body {
  margin: 0;
  font-family: "Itim", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* height: 100vh;
  width: 100vw; */
  background-image: url('C:\Kshitiz\Projects\gartic-phone\src\Images\BackGround.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

